h1{
    color: darkred; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
img{
    width: 800px;
    height: 800px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.h11{
    color: darkblue;
    background-color: black;
}
#texto{
    color: darkgreen;
    background-color: darkslateblue;
}
body{
    background-color: sienna;
    
}